{% render 'partials/head.liquid' %}

<h2>Members</h2>

<section class="filters">
  <button>Sort</button>
  <button>Filter</button>
</section  

  <section class="cards">
    <ul>
      {% for person in persons %}
        <li><a href="/detail/{{ person.id }}"><img src="{{person.avatar}} alt="profile-pictures"><br>{{ person.name }}</a></li>
      {% endfor %}
    </ul>
  </section  

  <section>
    <h2>Squads</h2>
    <ul>
      {% for squad in squads %}
        <li>Squad {{ squad.name }}</li>
      {% endfor %}
    </ul>
  </section>

{% render 'partials/foot.liquid', squads: squads %}